# Challenge 1 - Tic Tac Toe

In this lab you will perform deep learning analysis on a dataset of playing [Tic Tac Toe](https://en.wikipedia.org/wiki/Tic-tac-toe).

There are 9 grids in Tic Tac Toe that are coded as the following picture shows:

![Tic Tac Toe Grids](tttboard.jpg)

In the first 9 columns of the dataset you can find which marks (`x` or `o`) exist in the grids. If there is no mark in a certain grid, it is labeled as `b`. The last column is `class` which tells you whether Player X (who always moves first in Tic Tac Toe) wins in this configuration. Note that when `class` has the value `False`, it means either Player O wins the game or it ends up as a draw.

Follow the steps suggested below to conduct a neural network analysis using Tensorflow and Keras. You will build a deep learning model to predict whether Player X wins the game or not.

## Step 1: Data Engineering

This dataset is almost in the ready-to-use state so you do not need to worry about missing values and so on. Still, some simple data engineering is needed.

1. Read `tic-tac-toe.csv` into a dataframe.
1. Inspect the dataset. Determine if the dataset is reliable by eyeballing the data.
1. Convert the categorical values to numeric in all columns.
1. Separate the inputs and output.
1. Normalize the input data.

In [56]:
# your code here
import pandas as pd


data = pd.read_csv('tic-tac-toe.csv')
data.sample(5)

    TL TM TR ML MM MR BL BM BR  class
424  o  b  x  x  x  x  b  o  o   True
848  o  o  b  x  o  x  x  o  x  False
165  x  o  o  x  b  o  x  x  b   True
298  o  x  x  o  x  x  x  o  o   True
330  o  x  o  o  x  x  b  x  b   True

In [57]:
data.shape

(958, 10)

In [58]:
data.isnull().sum()

TL       0
TM       0
TR       0
ML       0
MM       0
MR       0
BL       0
BM       0
BR       0
class    0
dtype: int64

In [59]:
data.dtypes

TL       object
TM       object
TR       object
ML       object
MM       object
MR       object
BL       object
BM       object
BR       object
class      bool
dtype: object

In [60]:
data.columns

Index(['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR', 'class'], dtype='object')

In [61]:
datax = data[['TL', 'TM', 'TR', 'ML', 'MM', 'MR', 'BL', 'BM', 'BR']]
datay  = data['class']

In [62]:
import numpy as np
def  cat_values_to_num_vals(column):
    contitions = [datax[column].astype(str).str.match('o'),
                  datax[column].astype(str).str.match('x'),
                  datax[column].astype(str).str.match('b'),]
    choices = [1,0,-1]
    datax[column] =np.select(contitions,choices)

In [64]:
cat_values_to_num_vals('TL')

C:\Users\SERGIO~1\AppData\Local\Temp/ipykernel_20940/3190564844.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datax[column] =np.select(contitions,choices)

In [65]:
for col in datax.columns:
    cat_values_to_num_vals(col)

C:\Users\SERGIO~1\AppData\Local\Temp/ipykernel_20940/3190564844.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  datax[column] =np.select(contitions,choices)

In [66]:
datax.sample(10)

     TL  TM  TR  ML  MM  MR  BL  BM  BR
951   0   0   0   0   0   1   1   1   0
293   0  -1  -1  -1   0   1  -1   1   0
378   0   1   0   0   1   1   0   0   0
408   0   1  -1   0   0   0   0   1  -1
159   0   1   1   0   1   0   0  -1  -1
314   0   0   0  -1   0  -1   1   0   1
871   0  -1  -1   0   1   0   0  -1   1
499   0   0   1   0   0   1   1   0  -1
767   0   0   0  -1   0   0   1   1   1
128   0   1   0   1   0  -1   0   1  -1

In [72]:
datax.dtypes

TL    int32
TM    int32
TR    int32
ML    int32
MM    int32
MR    int32
BL    int32
BM    int32
BR    int32
dtype: object

In [77]:
colu =datax.columns

In [73]:
datay.dtypes

dtype('bool')

In [ ]:
#For the normalization

In [81]:
from sklearn import preprocessing
min_max_scaler = preprocessing.MinMaxScaler()
datax_sacaled = min_max_scaler.fit_transform(datax)
datax_sacaled = pd.DataFrame(datax_sacaled,columns=colu)
datax_sacaled

      TL   TM   TR   ML   MM   MR   BL   BM   BR
0    0.0  0.5  0.5  0.5  1.0  1.0  0.5  1.0  1.0
1    0.0  0.5  0.5  0.5  1.0  1.0  1.0  0.5  1.0
2    0.0  0.5  0.5  0.5  1.0  1.0  1.0  1.0  0.5
3    0.0  0.5  0.5  0.5  1.0  1.0  1.0  0.0  0.0
4    0.0  0.5  0.5  0.5  1.0  1.0  0.0  1.0  0.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...
953  0.0  0.5  0.5  0.5  1.0  1.0  1.0  0.5  0.5
954  0.0  0.5  1.0  0.5  0.5  1.0  0.5  1.0  0.5
955  0.0  0.5  1.0  0.5  1.0  0.5  0.5  1.0  0.5
956  0.0  0.5  1.0  1.0  0.5  0.5  0.5  1.0  0.5
957  0.0  1.0  0.5  0.5  0.5  1.0  1.0  0.5  0.5

[958 rows x 9 columns]

## Step 2: Build Neural Network

To build the neural network, you can refer to your own codes you wrote while following the [Deep Learning with Python, TensorFlow, and Keras tutorial](https://www.youtube.com/watch?v=wQ8BIBpya2k) in the lesson. It's pretty similar to what you will be doing in this lab.

1. Split the training and test data.
1. Create a `Sequential` model.
1. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
1. Compile the model using `adam` as the optimizer and `sparse_categorical_crossentropy` as the loss function. For metrics, use `accuracy` for now.
1. Fit the training data.
1. Evaluate your neural network model with the test data.
1. Save your model as `tic-tac-toe.model`.

In [88]:
# your code here
import tensorflow as tf
print(tf.__version__)

2.9.1

In [91]:
#1 Split the training and test data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(datax_sacaled, datay)

In [95]:
#2 Defining Seuentioal model
model = tf.keras.models.Sequential()


#3. Add several layers to your model. Make sure you use ReLU as the activation function for the middle layers. 
#Use Softmax for the output layer because each output has a single lable and all the label probabilities add up to 1.
model.add(tf.keras.layers.Flatten())
model.add(tf.keras.layers.Dense(100, activation = tf.nn.relu))
model.add(tf.keras.layers.Dense(100, activation = tf.nn.relu))#Desnse layer how many units in the leyer , neurones
model.add(tf.keras.layers.Dense(2, activation = tf.nn.softmax)) # Number of clasifications 2 True False

In [99]:
#4. Compile the model using adam as the optimizer and sparse_categorical_crossentropy as the loss function. 
#For metrics, use accuracy for now.
model.compile(optimizer='adam',
             loss='sparse_categorical_crossentropy',
             metrics =['accuracy'])

#5. Fit the training data.
model.fit(X_train, y_train, epochs=3 )

Epoch 1/3
23/23 [==============================] - 0s 2ms/step - loss: 0.5832 - accuracy: 0.6908
Epoch 2/3
23/23 [==============================] - 0s 2ms/step - loss: 0.5644 - accuracy: 0.7117
Epoch 3/3
23/23 [==============================] - 0s 2ms/step - loss: 0.5531 - accuracy: 0.7061

In [102]:
#6 Evaluate your neural network model with the test data
val_loss,val_acc =model.evaluate(X_test,y_test)
print(val_loss, val_acc)

8/8 [==============================] - 0s 2ms/step - loss: 0.5801 - accuracy: 0.7042
0.5801329016685486 0.7041666507720947

In [103]:
#7. Save your model as tic-tac-toe.model.
model.save('tic-tac-toe.model')

INFO:tensorflow:Assets written to: tic-tac-toe.model\assets

## Step 3: Make Predictions

Now load your saved model and use it to make predictions on a few random rows in the test dataset. Check if the predictions are correct.

In [ ]:
# your code here
#Re-load model
new_model =tf.keras.models.load_model('tic-tac-toe.model')

In [135]:
#Prediction in few rando rows form the test
pred_data = X_test.sample(5)

predictions = new_model.predict([pred_data])

1/1 [==============================] - 0s 342ms/step

In [136]:
print(predictions)

[[0.20438355 0.7956165 ]
 [0.3355132  0.6644868 ]
 [0.31154013 0.68845993]
 [0.2756365  0.72436357]
 [0.4651697  0.5348302 ]]

In [137]:
import numpy as np

prediction_result = []

for element in range(len(predictions)):
    print(np.argmax(predictions[element]))
    prediction_result.append(np.argmax(predictions[element]))
prediction_result

1
1
1
1
1

[1, 1, 1, 1, 1]

In [138]:
pred_data

      TL   TM   TR   ML   MM   MR   BL   BM   BR
808  0.0  1.0  0.5  1.0  0.5  0.5  1.0  0.5  0.0
594  0.0  0.0  0.5  1.0  0.5  1.0  0.5  0.0  0.0
521  0.0  0.5  0.0  1.0  0.5  0.0  1.0  0.5  0.0
106  0.0  0.5  0.0  1.0  0.5  1.0  1.0  0.0  0.5
59   0.0  0.5  0.5  0.0  1.0  1.0  1.0  0.0  0.5

In [145]:
pred_data.index

Int64Index([808, 594, 521, 106, 59], dtype='int64')

In [146]:
y_test.filter(items=[808, 594, 521, 106, 59], axis=0)

808    False
594     True
521     True
106     True
59      True
Name: class, dtype: bool

In [147]:
prediction_result

[1, 1, 1, 1, 1]

In [148]:
from sklearn.metrics import accuracy_score
# Random prediction accuracy
accuracy_score(prediction_result,y_test.filter(items=[808, 594, 521, 106, 59], axis=0))

0.8

## Step 4: Improve Your Model

Did your model achieve low loss (<0.1) and high accuracy (>0.95)? If not, try to improve your model.

But how? There are so many things you can play with in Tensorflow and in the next challenge you'll learn about these things. But in this challenge, let's just do a few things to see if they will help.

* Add more layers to your model. If the data are complex you need more layers. But don't use more layers than you need. If adding more layers does not improve the model performance you don't need additional layers.
* Adjust the learning rate when you compile the model. This means you will create a custom `tf.keras.optimizers.Adam` instance where you specify the learning rate you want. Then pass the instance to `model.compile` as the optimizer.
    * `tf.keras.optimizers.Adam` [reference](https://www.tensorflow.org/api_docs/python/tf/keras/optimizers/Adam).
    * Don't worry if you don't understand what the learning rate does. You'll learn about it in the next challenge.
* Adjust the number of epochs when you fit the training data to the model. Your model performance continues to improve as you train more epochs. But eventually it will reach the ceiling and the performance will stay the same.

In [154]:
# your code here
#2 Defining Seuentioal model 2
model2 = tf.keras.models.Sequential()
#3. Adjustments
model2.add(tf.keras.layers.Flatten())
model2.add(tf.keras.layers.Dense(100, activation = tf.nn.relu))
model2.add(tf.keras.layers.Dense(100, activation = tf.nn.relu))
model2.add(tf.keras.layers.Dense(100, activation = tf.nn.relu))
model2.add(tf.keras.layers.Dense(100, activation = tf.nn.relu))
model2.add(tf.keras.layers.Dense(2, activation = tf.nn.softmax)) # Number of clasifications 2 True False

**Which approach(es) did you find helpful to improve your model performance?**

In [155]:
# your answer here
model.compile(optimizer='adam',
             loss='sparse_categorical_crossentropy',
             metrics =['accuracy'])

#5. Fit the training data.
model.fit(X_train, y_train, epochs=6 )

tf.keras.optimizers.Adam(
    learning_rate=0.001,
    beta_1=0.9,
    beta_2=0.999,
    epsilon=1e-07,
    amsgrad=False,
    name='Adam'
)

Epoch 1/6
23/23 [==============================] - 1s 2ms/step - loss: 0.4057 - accuracy: 0.8259
Epoch 2/6
23/23 [==============================] - 0s 2ms/step - loss: 0.3931 - accuracy: 0.8301
Epoch 3/6
23/23 [==============================] - 0s 2ms/step - loss: 0.3828 - accuracy: 0.8329
Epoch 4/6
23/23 [==============================] - 0s 2ms/step - loss: 0.3774 - accuracy: 0.8426
Epoch 5/6
23/23 [==============================] - 0s 2ms/step - loss: 0.3690 - accuracy: 0.8357
Epoch 6/6
23/23 [==============================] - 0s 3ms/step - loss: 0.3818 - accuracy: 0.8301

In [156]:
#6 Evaluate your neural network model with the test data
val_loss,val_acc =model.evaluate(X_test,y_test)
print(val_loss, val_acc)

8/8 [==============================] - 0s 2ms/step - loss: 0.4681 - accuracy: 0.7542
0.468121200799942 0.7541666626930237